body {
    margin: 10px auto;
    width: 80%;
}
nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}

#nav .active{
    border-bottom:2px solid #bada55;
}
footer ul   {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 2px;
    list-style: none;
    font-weight: bold;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    text-decoration: none;
    color: #999;
}
footer ul li {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
footer ul span {
    padding: 8px
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    position:absolute;
    bottom:0;
    height:80px;   /* Height of the footer */
    margin: 5px auto;
    width: 80%;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
