<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/boltonu5website/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/ofstead">Ofstead</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:info@boltonunder5s.com">email</a></li>
	        		<li><a href="http://boltonunder5s.com">boltonunder5s.com</a></li>
				</ul>
			</footer>
		</body>
	</html>
