<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="shortcut icon" sizes="196x196" href="{{'/assets/boltonslogo.png' | relative_url }}">
			<link rel="stylesheet" type="text/css" href="{{'/css/main.css' | relative_url }}" >

		</head>
		<header>
			<a href="{{'/' | relative_url}}"><img src="{{'/assets/boltonu5.png' | relative_url }}" height="84" width="84"></a>
			<h1>Bolton Under 5's Preschool</h1>
			<a href="{{'/ofsted' | relative_url}}"> <img src="{{'/assets/Ofsted_Outstanding_OP_Colour.png' | relative_url }}" height="84" width="84"> </a>
		</header>
		<body>
			<nav>

	    		<ul id="nav">

	        		<li {% if page.url == '/' %} class="active"{% endif %} ><a href="{{'/' | relative_url}}">About Us</a></li>
					<li {% if page.url == '/contact/' %} class="active"{% endif %} ><a href="{{'/contact' | relative_url}}">Contact</a></li>
					<li {% if page.url == '/hours/' %} class="active"{% endif %} ><a href="{{'/hours' | relative_url}}">Hours</a></li>
					<li {% if page.url == '/learning/' %} class="active"{% endif %} ><a href="{{'/learning' | relative_url}}">Learning</a></li>
					<li {% if page.url == '/keyperson/' %} class="active"{% endif %} ><a href="{{'/keyperson' | relative_url}}">Keyperson</a></li>
					<li {% if page.url == '/eyfs/' %} class="active"{% endif %} ><a href="{{'/eyfs' | relative_url}}">EYFS</a></li>
					<li {% if page.url == '/team/' %} class="active"{% endif %} ><a href="{{'/team' | relative_url}}">Team</a></li>
                    <li {% if page.url == '/committee/' %} class="active"{% endif %} ><a href="{{'/committee' | relative_url}}">Committee</a></li>
					<li {% if page.url == '/ofsted/' %} class="active"{% endif %} ><a href="{{'/ofsted' | relative_url}}">Ofsted</a></li>
	    		</ul>

			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->

		</body>
		<footer>
			<div>
				© 2018: Bolton Under 5s Preschool,The Beddington Centre, Riley Lane,  Old Basing, Basingstoke, RG24 7DH
			</div>
			<div>
				Email:<a href="mailto:info@boltonunder5s.com">info@boltonunder5s.com</a>
			</div>
			<div>
				Tel: 01256 326196
			</div>
			<div>
				Registered Charity Number: 1030306
			</div>
		</footer>
	</html>
